
/* Desktop site css is up top, media query transitions to smaller screens and
mobile styles are outlined below*/

/*
.mobile {
  display: none;
}
*/

html{
  font-size: 16px;
  font-family: Helvetica;
  width: 99%;
  margin: auto;
}

.header{
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: white;
  position: fixed;
  z-index: 5;
  top: 0rem;
}


.logo{
  display: inline-flex;
  padding-left: 1.5rem;
  align-items: center;
}

.logo img{
  height: 3rem;
}

.logo{
  color: 	#bfbfbf;
  font-style: normal;
}

.logo .colmar{
  color: 	#404040;
  font-style: bold;
}

.nav nav{
  display: inline-flex;
  font-size: 1.3rem;
  justify-content: space-around;
  align-items: center;
}

.nav a{
  color: #404040;
  text-decoration: none;
}

.nav span{
  display: inline-flex;
  align-items: center;
  height: 4rem;
  padding-left: .2rem;
  border-right: 1rem solid #a8f0ec;
}

#sign{
  border: none;
  padding-right: 2rem;
}

.banner{
  width: 100%;
  height: auto;
  background-color: #cccccc;
  margin: auto;
  position: relative;
  top: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 4;
  color: #595959;
}

.banner img{
  padding: 2rem 2.5rem 2rem 1.5rem;
}

#lorem{
  font-weight: lighter;
  color:
}

.banner .learning{
  text-align: left;
  font-size: 2rem;
}

.banner .start{
  width: 100%;
  background-color: #4d4d4d;
  color: white;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 2rem;
}

.banner a{
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

.container1{
  margin: auto;
  position: relative;
  top: 4rem;
  width: 100%;
  height: auto;
  display: inline-flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.practice{
  padding: 1rem 1.4rem 2rem 1.5rem;
  border-right: 0.2rem solid #cccccc;
  width: 58%;
  font-size: 1.5rem;
  font-style: normal;
  text-align: left;
  height: 100%;
}

.practice img{
  padding-bottom: 2rem;
}

#title1{
  padding-bottom: 1rem;
  font-weight: bold;
}

#body1{
  font-weight: lighter;
  color: #737373;
  padding-bottom: 2rem;
}

#citation1{
  font-weight: lighter;
  color: #595959;
}


.boxes{
  display: flex;
  flex-flow: column wrap;
  width: 50rem;

}

.boxes img{
  width: 35%;
  height: auto;
  padding: 1rem 1.5rem 1rem 1rem;
}

.orientation{
  display: inline-flex;
  align-items: center;
  padding: 0rem 1.5rem 1rem 1rem;
  border-bottom:  0.2rem solid #cccccc;

}

.campus{
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1rem;
  border-bottom:  0.2rem solid #cccccc;
}

.guest{
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1rem;
  border-bottom:  0.2rem solid #cccccc;
  background-color:  #cccccc;
}

.boxes .continfo{
  display: flex;
  flex-flow: column wrap;
  font-size: 1.5rem;
  color: #595959;
}

.continfo a{
  text-decoration: none;
  font-weight: lighter;
  color: #00aaff;
}

#boxtext{
  font-weight: lighter;
}

.container2{
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 96rem;
  align-items: center;
  text-align: left;
  background-color: #cccccc;
}

.title2{
  font-size: 2rem;
  color: #595959;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.courses1{
  display: inline-flex;
  width: 100%;
  justify-content: center;

}

.courses1 h2{
  font-size: 2.2rem;
  color: #595959;
  padding-left: 1rem;
}

.courses1 h4{
  font-size: 1.8rem;
  font-weight: lighter;
  color: #595959;
  padding-left: 1rem;
}

.class1{
  margin: 1rem 1rem 1rem 1rem;
  width: 33.3rem;
  height: 36.5rem;
  background-color: white;
}

.courses2{
  display: inline-flex;
  width: 100%;
  justify-content: center;

}

.courses2 h2{
  font-size: 2.2rem;
  color: #595959;
  padding-left: 1rem;
}

.courses2 h4{
  font-size: 1.8rem;
  font-weight: lighter;
  color: #595959;
  padding-left: 1rem;
}

.class2{
  margin: 1rem 1rem 1rem 1rem;
  width: 33.3rem;
  height: 36.5rem;
  background-color: white;
}

.container3{
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-items: center;
  padding-bottom: 2rem;
}

.title3{
  text-align: center;
  padding: 2rem 0rem 0rem 0rem;
  font-size: 2rem;
  color: #595959;
}

.sidebyside{
  display: inline-flex;
  width: 100%;
  margin: auto;
}

.video{
  width: 60%;
  margin: 0rem 1.5rem;
}

.video h2{
  font-size: 2.5rem;
  color: #595959;
}

.video h4{
  font-size: 2rem;
  font-weight: lighter;
  color: #595959;
}

.fisma{
  display: inline-flex;
  height: 15rem;
  width: 45rem;
  margin-top: 2.55rem;
  margin-left: 1rem;
  background-color: #cccccc;
  align-items: center;
}

.fisma h2{
  font-size: 2rem;
  margin: 3rem 0rem;
  color: #595959;
}

.fisma h4{
  font-size: 1.5rem;
  font-weight: lighter;
  color: #595959;
}

.fisma img{
  width: 18rem;
  height: 13rem;
  padding: 1rem 1rem 1rem 1rem;
}

.nyc{
  display: inline-flex;
  height: 15rem;
  width: 45rem;
  align-items: center;
  margin-left: 1rem;
}

.nyc h2{
  font-size: 2rem;
  margin: 3rem 0rem;
  color: #595959;
}

.nyc h4{
  font-size: 1.5rem;
  font-weight: lighter;
  color: #595959;
}

.nyc img{
  width: 18rem;
  height: 13rem;
  padding: 1rem 1rem 1rem 1rem;
}

.footer{
  width: 100%;
  margin: auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.25rem solid #cccccc;
}

.footer h4{
  font-size: 1.5rem;
  font-weight: lighter;
  color: #595959;
}

.copyright{
  margin-left: 1.5rem;
}

.footer a{
  font-size: 1.5rem;
  font-weight: lighter;
  color: #595959;
  text-decoration: none;
}

.footnav nav{
  display: inline-flex;
  align-items: center;
  margin: 0rem 1.5rem;
}

.footnav span{
  padding: 1rem;
}

/*Media Query to change over to mobile site design*/

@media only screen and (max-width: 480px){

  html{
    font-size: 12px;
    width: 100%;
    margin: auto;
  }

  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  }
}

/*mobile css for design*/


.mobileheader{
  margin: auto;
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.mobilelogo{
  margin: auto;
  display: inline-flex;
  width: 20%;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0rem;
  z-index: 5;
}

.mobilelogo img{
  height: 3rem;
}

.mobilebanner{
  margin: auto;
  display: block;
  position: relative;
  top: 3rem;
  z-index: 4;
  width: 20%;
  Height: 15rem;
  background-image: url("banner.jpg");
  background-position: center;
  background-size: cover;
}

.mobilelearning{
  margin: auto;
  display: block;
  width: 20%;
  position: relative;
  top: 1.5rem;
  background-color: #bfbfbf;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.mobilelearning h1{
  margin: 2rem 0rem 2rem 1rem;
  color: #4d4d4d;
}

#mobilelorem{
  margin: 0rem 0rem 1.5rem 1rem;
  color: #4d4d4d;
  font-weight: lighter;
}

.mobilelearning a{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 80%;
  margin: auto;
  padding: 0.15rem;
  background-color: #8c8c8c;
}

.mobileboxes{
  margin: auto;
  display: block;
  width: 20%;
  height: auto;
  position: relative;
  z-index: 2;
  top: 1.5rem;
}

.mobileboxes img{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;

  padding
}
