html{
  font-size: 16px;
  font-family: Helvetica;
  width: 100%;
  margin: auto;
}

.header{
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: white;
  position: fixed;
  z-index: 5;
}

.logo{
  display: inline-flex;
  padding-left: 1.5rem;
  align-items: center;
}

.logo img{
  height: 3rem;
}

.logo{
  color: 	#bfbfbf;
  font-style: normal;
}

.logo .colmar{
  color: 	#404040;
  font-style: bold;
}

.nav nav{
  display: inline-flex;
  font-size: 1.3rem;
  justify-content: space-around;
  align-items: center;
}

.nav a{
  color: #404040;
  text-decoration: none;
}

.nav span{
  display: inline-flex;
  align-items: center;
  height: 4rem;
  padding-left: .2rem;
  border-right: 1rem solid #a8f0ec;
}

#sign{
  border: none;
  padding-right: 2rem;
}

.banner{
  width: 100%;
  height: auto;
  background-color: #cccccc;
  margin: auto;
  position: relative;
  top: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 4;
  color: #595959;
}

.banner img{
  padding: 2rem 2.5rem 2rem 1.5rem;
}

#lorem{
  font-weight: lighter;
  color:
}

.banner .learning{
  text-align: left;
  font-size: 2rem;
}

.banner .start{
  width: 100%;
  background-color: #4d4d4d;
  color: white;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 2rem;
}

.banner a{
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

.container1{
  margin: auto;
  position: relative;
  top: 4rem;
  width: 100%;
  height: auto;
  display: inline-flex;
  margin-top: 2rem;
}

.practice{
  padding: 1rem 1.4rem 2rem 1.5rem;
  border-right: 0.2rem solid #cccccc;
  width: 58%;
  font-size: 1.5rem;
  font-style: normal;
  text-align: left;
  height: 100%;
}

.practice img{
  padding-bottom: 2rem;
}

#title1{
  padding-bottom: 1rem;
  font-weight: bold;
}

#body1{
  font-weight: lighter;
  color: #737373;
  padding-bottom: 2rem;
}

#citation1{
  font-weight: lighter;
  color: #595959;
}


.boxes{
  display: flex;
  flex-flow: column wrap;
  width: 50rem;
  padding-top: 0.5rem;
}

.boxes img{
  width: 35%;
  height: auto;
  padding: 1rem 1.5rem 1rem 1rem;
}

.orientation{
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1rem;
  border-bottom:  0.2rem solid #cccccc;

}

.campus{
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1rem;
  border-bottom:  0.2rem solid #cccccc;
}

.guest{
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1rem;
  border-bottom:  0.2rem solid #cccccc;
  background-color:  #cccccc;
}

.boxes .continfo{
  display: flex;
  flex-flow: column wrap;
  font-size: 1.5rem;
  color: #595959;
}

.continfo a{
  text-decoration: none;
  font-weight: lighter;
  color: #00aaff;
}

#boxtext{
  font-weight: lighter;
}
